
@media (min-width: 1366px) {
	.container {
		max-width: 1366px !important;
	}
}

.container {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.display-none {
	display: none !important;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

.text-align-center {
	text-align: center;
}

.padding-left-right-0 {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.hero-section {
	background: url('../images/hero-image.png');
	background-size: cover;
	width: 100%;
	height: 600px;
}

.header-initial {
	padding-top: 30px;
}

.header-on-scroll {
	position: fixed;
    width: 100%;
    height: 60px;
    z-index: 10000;
    background: white;
}

.header-on-scroll #keastone, .header-on-scroll #careers, .header-on-scroll .links-holder a {
	color: gray;
}


.header-on-scroll .links-holder {
	padding-top: 22px;
}

.header-on-scroll .links-holder a:hover {
	color: gray !important;
}

.header-on-scroll .links-holder a:visited {
	color: gray !important;
}

.logo-holder span {
	color: white;
}

.logo-holder span#keastone {
	font-size: 40px;
	font-family: "Arial" !important;
	font-weight: 700;
}

.logo-holder span#careers {
	font-family: "Roboto" !important;
	font-size: 28px;
	font-weight: 100;
	text-transform: lowercase;
}

.links-holder a {
	font-family: "Roboto" !important;
	font-weight: 400;
	font-size: 24px;
	color: white;
	text-transform: uppercase;
	text-decoration: none !important;
}

.links-holder a:hover {
	color: white;
	text-decoration: none !important;
}

.links-holder a:visited {
	color: white !important;
	text-decoration: none !important;
}



.padding-right-link {
	padding-right: 30px;
}

.divider {
	padding-top: 25px;
	padding-bottom: 25px;
}

.divider p {
	font-family: "Roboto" !important;
	font-weight: 100;
	font-size: 48px;
	color: gray;
}

.first-content, .second-content {
	width: 90%;
	padding: 40px;
	background-color: #f7f7f7;
}

@media (max-width: 992px) {
	.first-content, .second-content {
		width: 100%;
		margin-top: 10px;
	}
}

.hero-text p {
	font-size: 53px;
	font-family: "Roboto Condensed" !important;
	font-weight: 700;
	color: #ffffff;
	width: 50%;
	padding-top: 150px;
}

.second-content {
	float: right;
}

.first-content p, .second-content p {
	font-family: "Roboto" !important;
	font-weight: 100;
	font-size: 32px;
}

.footer {
	margin-top: 30px;
	color: #e8eae8 !important;
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	word-wrap: break-word;
    word-break: break-word;
}

.footer-first-section h3 {
	font-family: "Roboto" !important;
	font-weight: 100;
	font-size: 32px;
}

.footer-first-section p {
	font-family: "Roboto" !important;
	font-weight: 100;
	font-size: 16px;
}

.footer-second-section h3 {
	font-family: "Roboto" !important;
	font-weight: 100;
	font-size: 32px;
}

.footer-second-section p {

	font-family: "Roboto" !important;
	font-weight: 100;
	font-size: 16px;
}

.footer-third-section h3 {
	font-family: "Roboto" !important;
	font-weight: 100;
	font-size: 32px;
}

.footer-third-section p {
	font-family: "Roboto" !important;
	font-weight: 100;
	font-size: 16px;
}



.openings-section .opening {
	padding: 15px;
	width: 100%;
    display: inline-block;
	/*border-bottom: 1px solid #ccc;*/
}

.opening-holder {
	/*cursor: pointer;*/
}


.opening .title {
	font-family: "Roboto" !important;
	font-weight: 100;
	font-size: 24px;
}

.opening .experience {
	font-family: "Roboto" !important;
	font-weight: 100;
	font-size: 19px;
	padding-bottom: 20px;
}



.ghost-button {
  display: inline-block;
  width: 140px;
  height: 40px;
  padding: 8px;
  color: lightgray;
  border: 1px solid lightgray;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
	text-decoration: none !important;
  	/*background-color: #fff;*/
  	color: #000;
  	transition: background-color 0.3s ease-in,
    color 0.3s ease-in;
    border: 2px solid #ccc;
}

.form-holder {
	width: 50%;
	box-shadow: 1px -1px 11px 1px lightgray;
	/*border: 1px solid #ccc;*/
	border-radius: 5px;
	margin-right: auto;
	height: auto;
	padding: 10px;
}

.form-holder label, .form-holder input {
	width: 100%;
}

.form-holder input {
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form-holder button {
	margin-top: 10px;
	background-color: transparent;
}

.notification-message {
	font-family: "Roboto" !important;
	font-weight: 100;
	padding-top: 20px;
	color: red;
}

.arrow {
	display: block;
	text-align: center;
	padding-bottom: 10px;
}

.arrow-image {
	width: 20px;
	height: 12px;
}

.down-arrow {
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}

.up-arrow {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

/*.slideDown.ng-show {
	animation-name: show;
  -webkit-animation-name: show;  

  animation-duration: .5s; 
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-in;  
  -webkit-animation-timing-function: ease-in;  
}

.slideDown.ng-hide {
	animation-name: hide;
  -webkit-animation-name: hide;  

  animation-duration: .5s; 
  -webkit-animation-duration: .5s;

  animation-timing-function: ease-in;  
  -webkit-animation-timing-function: ease-in;  
}*/


.slideDown {
	width: 100%;
	/*transition:height 0.35s ease;*/
}

a.arrow {
	cursor: pointer;
}

input:focus {
    outline:none !important;
}

