  <div class='header-on-scroll display-none'>
    <div class='container'>
          <div class='float-left logo-holder'>
            <span id='keastone'>
              Keastone
            </span>
            <span id='careers'>
              Careers
            </span>
          </div>
          <div class='float-right links-holder'>
            <a href='javascript:void(0);' id='whywe' class='padding-right-link'>Why we</a>
            <a href='javascript:void(0);' id='toOpenings' >Openings</a>
          </div>
    </div>
  </div>

  <div class='hero-section'>
    <div class='header-initial'>
      <div class='container'>
        <div class='float-left logo-holder'>
          <span id='keastone'>
            Keastone
          </span>
          <span id='careers'>
            Careers
          </span>
        </div>
        <div class='float-right links-holder'>
          <a href='javascript:void(0);' id='whywe' class='padding-right-link'>Why we</a>
          <a href='javascript:void(0);' id='toOpenings' >Openings</a>
        </div>
      </div>
    </div>
    <div class='hero-text container'>
      <p>
        We are looking for thinkers and doers
    </div>
  </div>

  <div class='divider' id='why-we-section'>
    <p class='text-align-center why-we' >
      Why we
    </p>
  </div>

  <div class='why-we-content'>
    <div class='container'>
      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
        <div class='first-content'>
          <p>
            We are building an universal information management platform that brings all of your digital information into one place providing unique ways to organize, manage and colloborate. The platform has it all to be disruptive in its space.
          </p>
        </div>
      </div>
      
      <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
        <div class='second-content'>
          <p>
            Work with the smartest brains there is as we revolutionize the way we manage information. 
Take on industry leaders as we deliver a better user experience backed by smarter technology. 
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id='openings' class='divider'>
    <div class='container'>
      <p class='text-align-center'>
        Openings
      </p>
    </div>
  </div>

  <div id='openings-sections' class='openings-section'>
    <div class='container'>
      <div id='opening-holder' ng-repeat = 'opening in positions' class='opening-holder' ng-mouseenter="showArrow();" ng-mouseleave="hideArrow();">
          <div>
            <div class='opening'>
              <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class='float-left'>
                  <p class='title'>
                    {{opening.title}}
                  </p>
                </div>
                <div class='float-right'>
                  <a class='ghost-button' ng-click="toggleAccordion();" ng-href='javascript:void(0);' ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">Apply</a>
                </div>
              </div>
              <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                <div class="slideDown float-left" ng-hide="active">
                  <div class="expand-collapse-content padding-left-right-0 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class='experience' ng-bind-html='opening.description | trimContent'>
                    </p>
                  </div>

                  <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-left-right-0'>
                    <div class='form-holder'>
                      <form name='submit-form' ng-submit='apply(opening.id);'>
                        <label>First Name</label>
                        <input type='text' ng-model='user.firstname' maxlength="100" required/>
                        <label>Last Name </label>
                        <input type='text' ng-model='user.lastname' maxlength="100" required/>
                        <label>Email </label>
                        <input id='email' type='email' ng-model='user.email' oninvalid="this.setCustomValidity('Invalid email')" oninput="this.setCustomValidity('')" required/>
                        <label>Phone</label>
                        <input type='text' ng-model='user.contact' maxlength="10" required/>
                        <label>Resume </label>
                        <input type="file" id='resume' class="form-control" custom-on-change="uploadFile" ng-model='user.resume' name="resume" base-sixty-four-input accept="application/msword, application/pdf" required>
                        <button  ng-disabled='check_status'  class='ghost-button'>Apply</button>
                        <p ng-show='ifMessage' class='notification-message'>
                          {{message}}
                        </p>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a ng-click="toggleAccordion();" ng-href='javascript:void(0);' ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}" ng-show="showArrows" class=' arrow down-arrow' >
              <img class='arrow-image' src='./images/arrow.png'/>
            </a>
            <a ng-click="toggleAccordion();" ng-href='javascript:void(0);' ng-show="expanded" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}" class='arrow up-arrow' >
              <img class='arrow-image' src='./images/arrow.png'/>
            </a>
          </div>
      </div>
      
    </div>
  </div>

  <div class='footer'>
    <div class='container'>
      <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 footer-first-section'>
        <h3>
        Mail
        </h3>
        <p>
        kslcareers@keastone.com
        </p>
        <p>
        info@keastone.com
        </p>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 footer-second-section'>
        <h3>
        Web
        </h3>
        <p>
        www.keastone.com
        </p>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12 footer-third-section'>
        <h3>
        Address
        </h3>
        <p>
        Keastone Software Labs <br/>
        1154, 12th Main Road, <br/>
        Indra Nagar, HAL 2nd Stage, <br/>
        Bengaluru, Karnataka, <br/>
        Pin: 560038 <br/>
        India
      </div>
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-last-section'>
        <p>
          Copyright 2016 to Keastone
        </p>
      </div>
    </div>
  </div>

  <script>

    $('.header-on-scroll #whywe').on('click', function() {
      $('#why-we-section').ScrollTo({
        duration: 1500 
      });
    });

    $('.header-on-scroll #toOpenings').on('click', function () {
      $('#openings').ScrollTo({
        duration: 1500
      })
    });
    
    $('.header-initial #whywe').on('click', function() {
      $('#why-we-section').ScrollTo({
        duration: 1500 
      });
    });

    $('.header-initial #toOpenings').on('click', function () {
      $('#openings').ScrollTo({
        duration: 1500
      })
    });


    // $(window).scroll(function (e) {
    //   if ( $(this).scrollTop() > 200  ) {
    //     $('.header-on-scroll').removeClass('display-none');
    //    } else if ( $(this).scrollTop() <= 200 ) {
    //       $('.header-on-scroll').addClass('display-none');
    //   }
    // });



  </script>